@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    list-style: none;
    text-decoration: none;
}
body{
    color:var(--dark);
    background-color:var(--white);
    background-position: center;
    background-size:cover;
    background-image: url("img/conceito-de-viagens-com-pontos-de-referencia_23-2149153256.avif");
}
.background-overlay{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index:-1;
    background-color: rgba(252, 252, 252, 0);
}
.navigation{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 18px 40px;
    box-shadow: 0 0.1rem 0.5rem #ccc;
    width: 100%;
    position: fixed;
    transition: all;
}
.navigation .logo{
    color: black;
    font-size: 1.7rem;
    font-weight: 600;
}
.logo span1{
    color: rgb(248, 0, 0);
}
.logo span2{
    color: rgb(123, 255, 0);
}
.navigation ul{
    display: flex;
    align-items: cernter;
    gap: 5rem;
}
.navigation ul li a {
    color: black;
    font-size: 17px;
    font-weight: 500;
    transition: all 0.5s;
}
.navigation ul li a:hover{
    color: rgb(0, 247, 0);
}
.navigation i{
    cursor: pointer;
    font-size: 1.5rem;
    color: blue
}
.home{
    width: 50%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 10%;
}
.home .text-h4{
    margin-bottom: 1rem;
    font-size:1.7rem;
    color: blue;
}
.home .text-h1{
    margin-bottom: 2rem;
    font-size:1.7rem;
    color: rgb(5, 1, 1);
}
.home p{
    margin-right: 10;
    margin-bottom: 4rem;
    font-weight: 700;
    color: rgb(0, 0, 0);
}

.rodape {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 18px 40px;
    box-shadow: 0 0.1rem 0.5rem #ccc;
    width: 100%;
    position: fixed;
    transition: all;
}
.rodape ul li h2{
    margin-bottom: 3rem;

}